@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat"),
             url("Pics/Montserrat-Regular.woff2") format("woff2"),
             url("Pics/Montserrat-Regular.woff") format("woff");
}